[Desktop Entry]
Version=1.0
Type=Application
Exec=Thunar
Icon=Thunar
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/file;x-scheme-handler/trash;
Name=Thunar
Comment=Browse the file system
X-XFCE-Source=file:///usr/share/applications/exo-file-manager.desktop
Path=/home/dbb
